In [4]:
#Conditionals 1 


n1 = int(input('numner1: '))
n2 = int(input('number2: '))

if n1 > n2:
    print('The number', n1, 'is the greatest')
else:
    print('The number', n2, 'is the greatest')

numner1: 1
number2: 5
The number 5 is the greatest

In [7]:
#Conditionals 2


a = 3
b = 3

if a == b:
    print("square")
else:
    print('rectangle')

square

In [34]:
#Conditionals 3

name = "h"
age = 3
password = "opo*"

if name == "Batman":
    print('Welcome Mr.Batman!')
else:
    if age <16:
        print("Dear ",name, "you are too young to register")
    if ('*'  not in password) or ('&'  not in password): 
        print('Please enter a different password')

Dear  h you are too young to register
Please enter a different password

In [22]:
#Conditionals 4


d = {'name': 'Armen', 
     'age': 15,
     #'weight' : 99,
     'grades': [10, 8, 8, 4, 6, 7] }

if 'weight' not in d:
    n = input()
    d['weight'] = n
    print(d)
    
else:
    print(d['weight'])

44
{'name': 'Armen', 'age': 15, 'grades': [10, 8, 8, 4, 6, 7], 'weight': '44'}

In [31]:
#Loops 5

for x in range(10):
    if x % 2 == 1:
        print(x)

1
3
5
7
9

In [36]:
#Loops 6


for x in range(6):
    if x == 2:
        continue
    if x == 4:
        continue
    print(x)

0
1
3
5

In [43]:
#Loops 7

for x in range(1,21):
    if (x % 3 == 0) and (x % 5 == 0):
        break
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [46]:
#Loops 8

list1 = [5, 7, -7, 'abc', 2, 4, True, 3, 4, 6, 7, 7]
for x in list1:
    if x ==3:
        break
    print(x)

5
7
-7
abc
2
4
True

In [60]:
#Loops 9


correct_num = 5
#guess = int(input('number: '))

for i in range(3):
    guess = int(input('number: '))
    if guess == correct_num:
        break
print("That was a good guess!")
   # else:
   #     print("xxx")

number: 3
number: 3
number: 5
That was a good guess!

In [ ]:
#List comprehension 10

In [2]:
num = [7,8, 120, 25, 44, 20, 27]

print(num)

num22 = [x for x in num if x%2==0]
print(num22)

[7, 8, 120, 25, 44, 20, 27]
[8, 120, 44, 20]

In [5]:
#List comprehension 11

list3 = [x**2 for x in range(51)]
list3

[0, 1, 4, 9, 16]

In [6]:
#List comprehension 12

In [7]:
list1 = [7, 8, 120, 25, 44, 20, 27]
list2 = [x for x in list1 if x>20]

print(list1)
print(list2)

[7, 8, 120, 25, 44, 20, 27]
[120, 25, 44, 27]

In [8]:
#List comprehension 13

In [9]:
str1 = str(input('your text: '))
l1 = [x for x in str1]

print(str1)
print(l1)

your text: rtyui
rtyui
['r', 't', 'y', 'u', 'i']

In [10]:
#List comprehension 14

In [17]:
list1  = ['a', 'abc', 'xyz', 's', 'aba', '1221'] 

num = [x for x in list1 if len(x) >= 2 if x[0]==x[-1]]
num

['aba', '1221']