In [ ]:
list1 = ["hello", 1, True]
print (list1)
arjeq1 = input()
arjeq2 = input()
arjeq3 = input()
list1.append(arjeq1)
list1.append(arjeq2)
list1.append(arjeq3)
list1

In [ ]:
#task2


list1 = ["hello", 1, True]
list2 = list1.copy()
list2.append(arjeq1)
list2.append(arjeq2)
list2.append(arjeq3)
print(list1)
print(list2)

In [15]:
#task3

list2 = ["hello", 1, True, 2, 100, 300, 2]
print(list2)
x = int(input())
y = list2.count(x)
y

['hello', 1, True, 2, 100, 300, 2]
2

2

In [ ]:
#task4

list4 = ["hello", 1, True, 2, 100, 300, 2]
print(list2)
x = int(input())

list4.remove(x)
list4

In [ ]:
#task5

list5 = ["hello", 1, True, 2, 100, 300, 2]
print(list5)

list5.pop(5)
list5.pop(4)
list5.pop(0)
list5

In [40]:
#list6
list5 = ["hello", 1, True, 2, 100, 300, 2]
list55 = list5.copy()

list55.pop(5)
list55.pop(4)
list55.pop(0)
list55

[1, True, 2, 2]

In [39]:
#list7

l1 = ["hello", 1, True, 2, 100, 300, 2]
l2 = [1,3,4,5,7,'Alice']
print(l1)
l1[-1] = l2
l1

['hello', 1, True, 2, 100, 300, 2]

['hello', 1, True, 2, 100, 300, [1, 3, 4, 5, 7, 'Alice']]

In [4]:
#Sets8 

set1 = {1,3,4,5,7,'Alice'}
print(set1)
x = input()
set1.add(x)
set1

{1, 3, 4, 5, 7, 'Alice'}
wwwwwwwww

{1, 3, 4, 5, 7, 'Alice', 'wwwwwwwww'}

In [8]:
#Sets9

set2 = {1,3,4,5,7,'Alice'}
print(set2)
x = int(input())

set2.remove(x)
set2

{1, 3, 4, 5, 7, 'Alice'}
5

{1, 3, 4, 7, 'Alice'}

In [11]:
#Sets10

set2 = {1,3,4,5,7,'Alice'}
print(set2)
x = input()

set2.discard(x)
set2

{1, 3, 4, 5, 7, 'Alice'}
555

{1, 3, 4, 5, 7, 'Alice'}

In [17]:
#Sets11

set1 =  {False, 'horse', 'dog', 'pig', 'cat', 1,2,7}
set2 = {1,3,4,5,7,'Alice'}

print(set1.union(set2))
print(set1.intersection(set2))

{False, 1, 2, 3, 4, 5, 7, 'pig', 'dog', 'Alice', 'cat', 'horse'}
{1, 7}

In [21]:
#Sets12

set3 = {1,3,4,5,7}
x = int(input())
y = min(set3)
z = max(set3)

y<x<z

11

False

In [24]:
#Tuples13


t1 = (1, 4, 9, 16, 25, 36, 16, 25, 36, 16, 25, 36)
print(t1[3],  t1[-4])

16 36

In [29]:
#Tuples14


t2 = (1, 4, 9, 16, 25, 36, 16, 25, 36, 16, 25, 36)
print(t2)

y = list(t2)
y[4] = "hello"
t2 = tuple(y)

print(t2)

(1, 4, 9, 16, 25, 36, 16, 25, 36, 16, 25, 36)
(1, 4, 9, 16, 'hello', 36, 16, 25, 36, 16, 25, 36)

In [32]:
#Dictionaries15


dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(dict1)
x = str(input())
y = str(input())
dict1[x] = y



print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
who
mw
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'who': 'mw'}

In [38]:
#Dictionaries16

l1 = [(1, 'a'), (2,'b'), (3, 'c')]

d = {l1[0][0] : l1[0][1],
    l1[1][0] : l1[1][1],
    l1[2][0] : l1[2][1]
    }

d

{1: 'a', 2: 'b', 3: 'c'}